

body{
    font-family: sans-serif;
    margin: 0;
    background-color: #DCDCDC	;
    font-family: 'Open Sans', sans-serif;
    
    
    }
    
    a{
        text-decoration: none;
        color: rgb(253, 125, 21);
    }
    
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
    height: 50px;
    margin-right: 10px;
    }
    
    nav a{
    
        font-weight: 600;
        padding-right: 10px;
    }
    nav a:hover{
    
        color: white;
    }
    @media (max-width:700px){
        header{
            flex-direction: column;
        }
        nav{
            padding: 10px 0px;
        }
    
    }
    .contenedor{
        width: 90%;
        max-width: 1200xp;
        overflow: hidden;
        margin: auto;
        padding: 60px 0;
    }
    header{
        height: 100vh;
        background-image: url(pagina/Imagen\ de\ PornoOros.ga.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding: 10px;
        
        
    }
    head{
        padding: 0%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(253, 125, 21);
    }
    
    .Menu{
        position: fixed;
        top: 30px;
        right: 30px;
        background: #fff;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgb(253, 125, 21);
    }
    .Menu-nevegacion{
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100%;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform .3s ease-in-out;
        transform: translate(110%);
        box-shadow: 0 0 6px rgb(253, 125, 21);
    }
    
    .spread{
        transform: translate(0);
    }
    .Menu-nevegacion a{
        color: #fff;
        text-decoration: none;
    }
    
    .titulo{
        font-size: 60px;
        margin-bottom: 15px;
        color: rgb(253, 125, 21);
    }
    
    .copy{
        font-weight: 300;
        font-size: 25px;
        color: rgb(253, 125, 21);
    }
    
    .subtitulo{
        text-align: center;
        font-weight: 300;
        color: rgb(253, 125, 21);
        margin-bottom: 40px;
        font-size: 40px;
    
    }
    
    .contenedor-servicio{
        display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    }
    header{
        display: flex;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
    }